.main-content {
    display: flex;
    justify-content: center;
    margin-top: 77px;
}

.content-wrapper {
    background-color: #fff;
    width: 936px;
    padding: 10px 25px;
}

.title {
    padding: 10px 0;
    color: #333;
}

.form-control {
    padding: 10px 0;
}

.user-label {
    font-weight: 600;
}

#user-img {
    display: none;
}

.form-input {
    margin-top: 5px;
    display: block;
    width: 400px;
    padding: 7px 10px;
}

.user-img {
    display: inline-block;
    width: 400px;
    text-align: center;
    padding: 20px 0;
    border: 2px dotted steelblue;
    text-align: center;
    color: steelblue;
    font-weight: 600;
    cursor: pointer;
}

.user-btn {
    background-color: steelblue;
    color: #fff;
    padding: 10px 40px;
    margin-top: 10px;
}

.user-btn:hover,
.user-btn:active {
    background-color: rgb(55, 102, 140);
}

.users {
    padding: 30px 0;
}

.users-list {
    width: 100%;
}

.user-img p {
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide any overflow */
    text-overflow: ellipsis;
    /* Display ellipsis (...) when text overflows */
}

#role {
    display: block;
    width: 400px;
    padding: 8px 5px;
    margin-top: 3px;
}

#role>option {
    height: 20px;
    padding: 8px 5px;
    font-size: 15px;
}